<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"/>
    <title>{{template "title" .}}</title>
</head>
<body>
<main class="container">
    <nav>
        <ul>
            <li><strong>Tradoge</strong></li>
        </ul>
        <ul>
            <li><a href="/" class="contrast">Dashboard</a></li>
        </ul>
    </nav>
    {{template "content" .}}
</main>
</body>
</html>